extends layout

block content
  div(class='container fluid mx-auto')
    div(class='ms-5 fst-italic')
      h5(class="text-info") Non-members can view all message 
      h5(class="text-success")  Members can view all messages with author & timestamp 
      h5(class="text-danger")  Admins can view & delete any message
  
    //- Post new Message box
    if user && (user.isMember || user.isAdmin)
      form(class='ms-5' action='./message-post' method='POST')
        div(class="row")
          div(class="col")
            input(type="text" class="form-control" name="title" placeholder="title")
          div(class="col")
            input(type="text" class="form-control" name="message" placeholder="message")
          div(class="col")
            button(type="submit" class="btn btn-primary") Post

    hr
    h5 Messages:
    //- Message box dialog
    div(class='my-5 mx-auto d-flex flex-column align-items-center')
      if messages
        for msg in messages 
          div(class="card text-bg-light mb-3 d-flex flex-row")
            div(class="card-header") 
              if user && (user.isMember || user.isAdmin)
                span(class="fw-bold") #{msg.user.username}, 
                | #{msg.datetime}
              div(class="card-body")
                h5(class="card-title") #{msg.title}
                p(class="card-text") #{msg.message}
            if user && user.isAdmin
              form(action='./message-delete-post' method='POST' class="bg-danger bg-gradient")
                input(name="msgId" hidden value=msg._id)
                button(type="submit" class="btn btn-danger")
                  i(class="bi bi-trash")